* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f4f4f4;
    color: #555;
    font-family: Poppins;
    font-size: 16px;
    line-height: 1.6em;
    margin: 0;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

#main-header {
    background-color: coral;
    color: #fff;
}

#navbar {
    background-color: #333;
    color: #fff;
}

#navbar ul {
    padding: 0;
    list-style: none;
}

#navbar li {
    display: inline;
}

#navbar a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    padding-right: 15px;
}

#showcase {
    background-image: url("../img/showcase.jpg");
    background-size: cover;
    background-position: center;
    min-height: 300px;
    margin-bottom: 30px;
    text-align: center;
    background-repeat: no-repeat;
}

#showcase h1 {
    color: #fff;
    font-size: 50px;
    line-height: 1.6em;
    padding-top: 30px;
}

#main {
    float: left;
    width: 70%;
    padding-right: 50px;
    box-sizing: border-box;
}

#main h1 {
    margin-top: 25px;
    margin-bottom: 15px;
}

#main p {
    text-align: justify;
}

#sidebar {
    float: right;
    width: 30%;
    background: #ff9a9a;
    color: #fff;
    margin-top: 25px;
    padding: 35px 50px;
    box-sizing: border-box;
}

#main-footer {
    background: #ff9a9a;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}

@media (max-width: 700px) {
    #main {
        background-color: rgb(255, 165, 133);
        color: #fff;
        width: 100%;
        float: none;
        padding: 0;
    }

    #main h1 {
        padding: 35px 50px 0px 50px;
    }

    #main p {
        padding: 0px 50px 35px 50px;
    }

    #sidebar {
        width: 100%;
        float: none;
    }
}
